*::-webkit-scrollbar{
width: 0;
}
.main{
    width: 100vw;
    height: 100vh;
}
.header{
    border: 2px solid;
    text-align: center;
}
.team-container{
background-color: aquamarine;
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
gap: 1rem;
justify-content: space-between;
}
.card{
    width: 90%;
}
.card img{
    width: 200px;
}